@font-face {
  font-family: adobeMedium;
  src: url(./assets/Adobe-Clean/AdobeClean-Medium.otf);
}
@font-face {
  font-family: adobeRegular;
  src: url(./assets/Adobe-Clean/AdobeClean-Light.otf);
}
@font-face {
  font-family: graphikBlack;
  src: url(./assets/Graphik/GraphikBlack.otf); 
}
@font-face {
  font-family: graphikLight;
  src: url(./assets/Graphik/GraphikLight.otf); 
}
@font-face {
  font-family: gorditaMedium;
  src: url(./assets/GorditaMedium.otf); 
}
@font-face {
  font-family: gorditaRegular;
  src: url(./assets/GorditaRegular.otf); 
}
@import url("https://use.typekit.net/rbk4msf.css");


*,*:before,*:after { box-sizing: border-box; }

// variables
$title: #4A6ED9; 
$background: #FFFAFF; 
$linkhover: #ff4cec;

p {
  font-family: gorditaRegular; 
  color: $title;
  text-align: center; 
  margin-left: auto; 
  margin-right: auto; 
  align-items: center; 
}

.config p {
  font-size: x-large;
}

.config {
  position: absolute;
}

.control-wrap {
  float: left;
}
$d: 140px;

.liljess {
  position: absolute;
  margin-left: -$d/2;
  width: $d;
  bottom: 10%;
  left: 0;
}

.img-body {
  width: 250px; 
}

.body {
    overflow: hidden; 
    position: absolute; 
    z-index: -1;
    top: -115px;
    left: -10%;

.eyebrows {
      height: 100%;
      position: absolute;
      background-color: black; 
      width: 100%;
      transition: left .6s;
      left: 15%;
}
.eyebrows.right {
  left: 20%;
}

.eyebrow {
  z-index: 1; 
  position: absolute; 
  background-color: black; 
  height: 20px; 
  width: 35px; 
  top: -140px; 

&.one {
   left: 20%;
}

&.two {
  left: 35%;
}
}

.pupils {
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  transition: left .6s;
  left: 7%;
}

.pupils.right {
  left: 20%;
}

.pupil {
  background: black;
  border-radius: 50%;
  content: "";
  display: block;
  height: 5px;
  position: absolute;
  width: 5px;
  top: -100px;

&.one {
   left: 30%;
}

&.two {
  left: 45%;

}
}

.eyes {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    transition: left .6s;
    left: 10%;
    top: 60px; 
}
.eyes.right {
    left: 15%;
}
.eye {
    border-radius: 50%;
    display: block;
    position: absolute;
    background: white;
    height: 33px;
    width: 33px;

&.one {
    left: 25%;
 }

&.two {
    left: 40%;
}
}
} // end head 

.mouth {
    position: relative; 
    z-index: 1;
    top: 30px;
    left: 35%;
}

.img-mouth {
  width: 20px; 
}

.ball-left {
    background-color: #ff63f0;
    border-radius: 50%;
    height: 45px;
    overflow: hidden;
    position: relative;
    width: 45px;
    left: 30px; 
    margin-top: 30px; 
}

.ball-right {
  background-color: #ff63f0;
  border-radius: 50%;
  height: 45px;
  overflow: hidden;
  position: relative;
  width: 45px;
  left: 150px; 
  margin-top: -45px; 
}

.ring {
    background: #ff96f5;
    border-radius: 50%;
    height: 40px;
    // margin-left: -50px;
    position: absolute;
    width: 40px;
&:after {
     background-color: ghostwhite;
     border-radius: 50%;
     content: "";
     display: block;
     height: 33%;
     margin-top: -36%;
     margin-left: -36%;
     position: absolute;
     width: 33%;

     top: 50%;
     left: 50%;
 }
&.one {
     margin-left: -40px;
     height: 35px;
     width: 35px;

     top: 30%;
     left: 110%; // centering spoke
 }
}

.scooter {
  position: absolute; 
  top: 60%;
  left: 20%; 
  background: #ff4aed;

&.base {
  position: absolute;
  height: 25px;
  width: 130px;
  left: 10px;
  z-index: -2; 
}
&.top {
  position: absolute;
  height: 40px;
  width: 20px;
  top: -50px;
  left: 135px; 
}
&.handle {
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
    left: 130px; 
    top: -65px; 
    z-index: 5; 
}
}
.shadow {
    background: #3A271C;
    box-shadow: 5px 0 50px #3A271C;
    border-radius: 50%;
    height: $d/6;
    opacity: .25;
    position: absolute;
    width: $d+50;
    z-index: -1;

    left: 10px;
    bottom: -8px;
}

$shadow:#3A271C;

// home page 
.instructions p {
  color: $title;
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

// title 
h1 {
  font-family: graphikBlack;
  display: block; 
  text-align: center;
  
&.home {
  // font-weight: 600;
  line-height: 85%; 
  color: $title;
  font-size: 12em;
  margin-top: -20vw; 
}
&.about {
  font-weight: 600;
  line-height: 90%; 
  color: $title;
  font-size: 8em;
  text-align: center; 
}
&.contact {
  font-weight: 600;
  line-height: 90%; 
  color: $title;
  font-size: 3em;
  text-align: center; 
}
}

h1 span span {
  position: relative;
  opacity: 0;
  animation: move-text 1s forwards;
}


@keyframes move-text {
  0% {
    bottom: 1em;
    opacity: 1;
  }
  
  50% {
    bottom: -0.5em;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes move-buttons {
  0% {
    bottom: 2em; 
    opacity: 0; 
  }

  50% {
    bottom: -2em; 
    opacity: 0.5;
  }

  100% {
    bottom: 0; 
    opacity: 1; 
  }
}

// home buttons
.home-btn {
  opacity: 0; 
  position: relative; 
  width: 220px;
  height: 60px; 
  margin: 0em 0.3em 0.3em 0.3em;
  text-decoration: none; 
  color: $title; 
  font-size: 2em; 
  text-align: center; 
  animation: move-buttons 1s forwards; 
  font-family: gorditaRegular; 

  &.portfolio {
    animation-delay: .3s; 
  }
  &.about {
    animation-delay: .4s; 
  }
}
.home-btn:hover {
  color: $linkhover; 
  text-decoration: none;
  font-weight: bold; 
}
// END HOME

.row {
  align-items: center;
  text-align: center; 
  padding: 10px 10px; 
  // margin: 20px 20px; 
  &.portfolio {
    align-content: center;
    margin-bottom: -2em; 
  }
  &.pengandink {
    background-color: $background;
  }

  &.home-btns, &.title {
    justify-content: center;
  }
}

hr {
  border:none;
  border-top:2px dashed $title;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:30%;
}


.portfolio-img {
  width: 100%; 
}

.project-icons {
  position: relative; 
  margin-left: auto; 
  margin-right: auto; 
}

.icon {
  width: 35px; 
  height: auto; 
  margin-right: 5px; 
  filter: invert(48%) sepia(71%) saturate(4648%) hue-rotate(213deg) brightness(91%) contrast(85%);
}

.icon:hover,
.icon:focus {
  filter: invert(40%) sepia(93%) saturate(1482%) hue-rotate(280deg) brightness(102%) contrast(101%);
}

.tags {
  display: inline-block;
  background-color: rgb(255, 255, 0); 
  margin-right: 5px; 
  color: black; 
  border-radius: 5px; 
  padding: 0 5px 0 5px; 
  font-size:14px;
}

h4 {
  color: $title;
  font-family: gorditaMedium; 
  font-size: 2em;
  text-align: center; 
  margin-left: auto; 
  margin-right: auto; 
}

h3 {
  font-family: basic-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4em;
  color: $title; 
  margin-left: auto; 
  margin-right: auto; 
}


.tagsdiv {

    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.content-container {
  &.about, &.portfolio {
    padding: 5% 20% 5% 20%;
  }
}

.footer {
  font-family: gorditaRegular; 
  color: $title; 
  text-align: center;
  margin-top: 10%; 
}

//slider 
.slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
  scroll-snap-points-x: repeat(100%);
  scroll-snap-type: mandatory;
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: #5d9eba;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: rgba(#5d9eba, 0.5);
  border-radius: 10px; 
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  margin-right: 30px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  // font-size: 100px;
}

#heart {
  width: 20px; 
}

#kessler-slides {
  width: 80%; 
}

.nav {
  width: 100vw; 
  height: 10vh; 
  top: -1vh; 
  position: fixed; 
  justify-content: flex-end; 
  animation: move-nav 1s ease-out; 
  font-family: gorditaRegular; 
  &.about {
    justify-content: flex-start;
    left: 5vh; 
  }
  &.home {
    right: 5vh; 
  }
  &.portfolio {
    right: 5vh; 
  }
}

@keyframes move-nav {
  0% {
    top: -10vh; 
  }
  50% {
    top: 5vh; 
  }
  100% {
    top: -1vh; 
  }
}

// icons 
.nav-btn {
  width: 30px; 
  height: 30px; 
  margin: 0 1vh 0 1vh; 
  filter: invert(48%) sepia(71%) saturate(4648%) hue-rotate(213deg) brightness(91%) contrast(85%);
  &.back-portfolio {
    transform: rotate(-180deg);
    margin: 5vh 1vh 0 1vh;
    width: 50px; 
    height: 50px;  
  }
  &.home {

  }
  &.about {
    filter: invert(48%) sepia(71%) saturate(4648%) hue-rotate(213deg) brightness(91%) contrast(85%);
  }
  &.back-about {
    filter: invert(48%) sepia(71%) saturate(4648%) hue-rotate(213deg) brightness(91%) contrast(85%);
    margin: 5vh 1vh 0 1vh;
    width: 50px; 
    height: 50px;
  }
}

.nav-btn:hover{
  filter: invert(40%) sepia(93%) saturate(1482%) hue-rotate(280deg) brightness(102%) contrast(101%);
  &.back-portfolio {
    transform: rotate(180deg); 
    transition: all 0.5s ease-in-out; 
  } 
  &.back-about {
    transform: rotate(360deg); 
    transition: all 0.5s ease-in-out; 
  } 
}

a {
  color: $title;
  text-decoration: underline; 
}
a:hover {
  color: $linkhover;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
.nav {
  &.about {
    left: 1vh; 
  }
  &.portfolio {
    right: 1vh; 
  }
}
.nav-btn {
  margin: 0 0.5vh 0 0.5vh; 
  &.back-portfolio, &.back-about {
    margin: 5vh 1vh 0 1vh; 
    width: 100px; 
    height: 100px; 
  }
}
.home-btn {
  font-size: 2em; 
}

.content-container {
  &.portfolio {
    padding: 20% 5% 20% 5%;
  }
  &.about {
    padding: 5% 5% 5% 5%;
  }
}

@keyframes move-nav-home {
  0% {
    top: -10vh; 
  }
  50% {
    top: 15vh; 
  }
  100% {
    top: 8vh; 
  }
}
.liljess {
  bottom: 30%;
}

.instructions p {
  bottom: 10px;
  font-size: 2em;
}

// title 
.home {
  font-size: 1.5em;
  margin-top: -10vh;
  padding-bottom: 50px; 
}

#heart {
  width: 50px; 
}

.tags {
  font-size: 2.5em; 
}
.h3 {
  font-size: 3em; 
}
}

// contact form 
#contact-form {
  font-family: gorditaRegular;
}
.btn-primary {
  background-color: $title; 
}

input, label {
  color: $title; 
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

#cartoon {
  width: 40%; 
  height: auto; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}




