@font-face {
  font-family: adobeMedium;
  src: url(./assets/Adobe-Clean/AdobeClean-Medium.otf);
}
@font-face {
  font-family: adobeRegular;
  src: url(./assets/Adobe-Clean/AdobeClean-Light.otf);
}
@font-face {
  font-family: graphikBlack;
  src: url(./assets/Graphik/GraphikBlack.otf); 
}
@font-face {
  font-family: graphikLight;
  src: url(./assets/Graphik/GraphikLight.otf); 
}
@font-face {
  font-family: gorditaMedium;
  src: url(./assets/GorditaMedium.otf); 
}
@font-face {
  font-family: gorditaRegular;
  src: url(./assets/GorditaRegular.otf); 
}


@import url("https://use.typekit.net/rbk4msf.css");


*,*:before,*:after { box-sizing: border-box; }

p {
  font-family: gorditaRegular;
  font-weight: 100;
  color: white;
}

.config p {
  font-size: x-large;
}

.config {
  position: absolute;
}

.control-wrap {
  float: left;
}
$d: 140px;

.post {
  position: absolute;
  border: 1px solid green; 
  width: $d;
  height: 50vh;
  bottom: 10%;
  left: 45vw;
}

.pole {
  position: absolute; 
  width: 25px; 
  height: 90%; 
  background-color: brown; 
}

.liljess {
  position: absolute;
  margin-left: -$d/2;
  width: $d;
  bottom: 10%;
  left: 0;
}

.img-body {
  width: 250px; 
}

.body {
    overflow: hidden; 
    position: absolute; 
    z-index: -1;
    top: -115px;
    left: -10%;

.eyebrows {
      height: 100%;
      position: absolute;
      background-color: black; 
      width: 100%;
      transition: left .6s;
      left: 15%;
}
.eyebrows.right {
  left: 20%;
}

.eyebrow {
  z-index: 1; 
  position: absolute; 
  background-color: black; 
  height: 20px; 
  width: 35px; 
  top: -140px; 

&.one {
   left: 20%;
}

&.two {
  left: 35%;
}
}

.pupils {
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  transition: left .6s;
  left: 7%;
}

.pupils.right {
  left: 20%;
}

.pupil {
  background: black;
  border-radius: 50%;
  content: "";
  display: block;
  height: 5px;
  position: absolute;
  width: 5px;
  top: -100px;

&.one {
   left: 30%;
}

&.two {
  left: 45%;

}
}

.eyes {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    transition: left .6s;
    left: 10%;
    top: 60px; 
}
.eyes.right {
    left: 15%;
}
.eye {
    border-radius: 50%;
    display: block;
    position: absolute;
    background: white;
    height: 33px;
    width: 33px;

&.one {
    left: 25%;
 }

&.two {
    left: 40%;
}
}
} // end head 

.mouth {
    position: relative; 
    z-index: 1;
    top: 30px;
    left: 35%;
}

.img-mouth {
  width: 20px; 
}

.ball-left {
    background-color: #ff63f0;
    border-radius: 50%;
    height: 45px;
    overflow: hidden;
    position: relative;
    width: 45px;
    left: 30px; 
    margin-top: 30px; 
}

.ball-right {
  background-color: #ff63f0;
  border-radius: 50%;
  height: 45px;
  overflow: hidden;
  position: relative;
  width: 45px;
  left: 150px; 
  margin-top: -45px; 
}

.ring {
    background: #ff96f5;
    border-radius: 50%;
    height: 40px;
    // margin-left: -50px;
    position: absolute;
    width: 40px;
&:after {
     background-color: ghostwhite;
     border-radius: 50%;
     content: "";
     display: block;
     height: 33%;
     margin-top: -36%;
     margin-left: -36%;
     position: absolute;
     width: 33%;

     top: 50%;
     left: 50%;
 }
&.one {
     margin-left: -40px;
     height: 35px;
     width: 35px;

     top: 30%;
     left: 110%; // centering spoke
 }
}

.scooter {
  position: absolute; 
  top: 60%;
  left: 20%; 
  background: #ff4aed;

&.base {
  position: absolute;
  height: 25px;
  width: 130px;
  left: 10px;
  z-index: -2; 
}
&.top {
  position: absolute;
  height: 40px;
  width: 20px;
  top: -50px;
  left: 135px; 
}
&.handle {
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
    left: 130px; 
    top: -65px; 
    z-index: 5; 
}
}
.shadow {
    background: #3A271C;
    box-shadow: 5px 0 50px #3A271C;
    border-radius: 50%;
    height: $d/6;
    opacity: .25;
    position: absolute;
    width: $d+50;
    z-index: -1;

    left: 10px;
    bottom: -8px;
}

$shadow:#3A271C;

.instructions p {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

// title 

h1 {
  font-family: graphikBlack;
  display: block; 
  text-align: center;
  
&.home {
  // font-weight: 600;
  line-height: 85%; 
  color: white;
  font-size: 12em;
  margin-top: -20vw; 
}
&.header {
  font-weight: 600;
  line-height: 90%; 
  color: #e5a5eb;
  font-size: 8em;
  text-align: left; 
  // margin: -vh 0 0 0; 
}
&.thingsilike {
  color: white; 
}
}

h1 span span {
  position: relative;
  opacity: 0;
  animation: move-text 1s forwards;
}


@keyframes move-text {
  0% {
    bottom: 1em;
    opacity: 1;
  }
  
  50% {
    bottom: -0.5em;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes move-buttons {
  0% {
    bottom: 2em; 
    opacity: 0; 
  }

  50% {
    bottom: -2em; 
    opacity: 0.5;
  }

  100% {
    bottom: 0; 
    opacity: 1; 
  }
}

// home buttons

.home-btn {
  opacity: 0; 
  position: relative; 
  width: 220px;
  height: 60px; 
  margin: 0em 0.3em 0.3em 0.3em;
  border: 1px solid white; 
  border-radius: 0.5em; 
  box-sizing: border-box; 
  text-decoration: none; 
  background-color: white; 
  color: #e5a5eb; 
  text-align: center; 
  animation: move-buttons 1s forwards; 
  font-family: gorditaRegular; 

&.portfolio {
  animation-delay: .3s; 
}
&.about {
  animation-delay: .4s; 
}
}

.home-btn:hover {
  color: pink; 
  background-color: white; 
  text-decoration: none; 
}

@media screen and (max-width: 800px) {
    .content-container {
      &.about {
        padding-top: 80px; 
      }
    }
    .home-btn {
      width: 180px; 
    }
    .container {
      &.home {
        margin-top: -20vh; 
      }
    }
    .h1 {
      &.home {
        font-size: 9em; 
      }
      &.header {
        margin-top: 0; 
        font-size: 5em; 
      }
    }
  
}

// END HOME
.row {
  justify-content: center;
  align-items: center;
  padding: 10px 10px; 
  // margin: 20px 20px; 
  &.portfolio {
    justify-content: left; 
    margin-bottom: -2em; 
  }
  &.pengandink {
    background-color: #e5a5eb;
  }
}


h2 {
  font-weight: 600;
  line-height: 90%; 
  color: white;
  font-size: 5em; 
}

.p {
&.about {
  color: #e5a5eb;
}
&.playfulpalette {
  font-family: adobeRegular; 
  font-size: 18px; 
}
&.imagineering {
  font-family: obvia, sans-serif;
  font-weight: 100;
  font-style: normal;
}
&.nyt {
  font-family: Georgia, serif; 
  color: black; 
}
&.molex {
  font-family: bilo, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px; 
}
}


.portfolio-img {
  width: 100%; 
}

.icon {
  width: 35px; 
  height: auto; 
  margin-right: 5px; 
  filter: invert(100%) sepia(5%) saturate(4%) hue-rotate(359deg) brightness(104%) contrast(100%);
}

.icon:hover,
.icon:focus {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.tags {
  display: inline-block;
  background-color: rgb(255, 255, 0); 
  margin-right: 5px; 
  color: black; 
  border-radius: 5px; 
  padding: 0 5px 0 5px; 
  font-size:14px;
}

h4 {
  color: #e5a5eb;
  font-family: gorditaMedium; 
}
.h3 {
  font-size: 4em; 
  &.playful-palette {
    font-family: adobeMedium;
  }
  &.imagineering {
    font-family: nasalization, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  &.nyt {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black; 
  }
  &.molex {
    font-family: basic-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5em;
  }
}


.content-container {
  padding: 5% 10% 5% 10%; 

  &.playful-palette {
    background: radial-gradient(circle, rgba(255,46,255,0.6) 0%, rgba(66,227,255,1) 100%);
  }
  &.imagineering {
    display:block;
    top:0; bottom:0;
    left:0; right:0;
    width:100%; height:100%;
    z-index: 0;
	  background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
  }
  &.nyt {
    background-color: white; 
  }
  &.molex {
    background-color: #da4e4e; 
  }
  &.hobbies {
    background-color: #e4e4e4;
  }
  &.footer {
    font-family: gorditaRegular; 
    color: #e5a5eb; 
    text-align: center;
  }
}


// star background

.stars, .twinkling, .clouds {
	// position:absolute;
	display:block;
	top:0; bottom:0;
	left:0; right:0;
	width:100%; height:100%;
}

.stars {
	z-index: 0;
	background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
}

.twinkling{
	z-index: 1;
	background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
	animation: move-twink-back 200s linear infinite;
}

.clouds{
	z-index: 2;
    background:transparent url('https://image.ibb.co/bT4N7T/clouds.png') repeat top center;
	animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
	from {background-position:0 0;}
	to {background-position:10000px 0;}
}

//slider 
.slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
  scroll-snap-points-x: repeat(100%);
  scroll-snap-type: mandatory;
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: #5d9eba;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: rgba(#5d9eba, 0.5);
  border-radius: 10px; 
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  margin-right: 30px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  // font-size: 100px;
}

#heart {
  width: 20px; 
}

#kessler-slides {
  width: 80%; 
}

.nav {
  width: 100vw; 
  height: 10vh; 
  top: -1vh; 
  position: fixed; 
  justify-content: flex-end; 
  animation: move-nav 1s ease-out; 
  font-family: gorditaRegular; 
  &.about {
    justify-content: flex-start;
    left: 5vh; 
  }
  &.home {
    right: 5vh; 
  }
  &.portfolio {
    right: 5vh; 
  }
}

@keyframes move-nav {
  0% {
    top: -10vh; 
  }
  50% {
    top: 5vh; 
  }
  100% {
    top: -1vh; 
  }
}

.nav-btn {
  width: 30px; 
  height: 30px; 
  margin: 5vh 1vh 0 1vh; 
  font-family: gorditaRegular; 
  filter: invert(55%) sepia(47%) saturate(7368%) hue-rotate(257deg) brightness(98%) contrast(98%);  
  &.back-portfolio {
    transform: rotate(-180deg);
  }
  &.about {
    filter: invert(67%) sepia(91%) saturate(244%) hue-rotate(251deg) brightness(100%) contrast(85%);
  }
  &.back-about {
    filter: invert(67%) sepia(91%) saturate(244%) hue-rotate(251deg) brightness(100%) contrast(85%);
  }
}


.nav-btn:hover{
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);     
  &.back-portfolio {
    transform: rotate(180deg); 
    transition: all 0.5s ease-in-out; 
  } 
  &.back-about {
    transform: rotate(360deg); 
    transition: all 0.5s ease-in-out; 
  }

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
.nav {
  &.about {
    left: 1vh; 
  }
  &.home {
    right: 3vh; 
    top: 8vh;
    animation: move-nav-home 1s ease-in-out;
  }
  &.portfolio {
    right: 1vh; 
  }
}
.nav-btn {
  width: 100px; 
  height: 100px; 
  margin: 5vh 1vh 0 1vh; 
}
@keyframes move-nav-home {
  0% {
    top: -10vh; 
  }
  50% {
    top: 15vh; 
  }
  100% {
    top: 8vh; 
  }
}
.liljess {
  bottom: 30%;
}

.instructions p {
  bottom: 10px;
  font-size: 50px; 
}

// title 
.home {
  font-size: 1.5em;
  margin-top: -10vh;
  padding-bottom: 50px; 
}
.home-btn {
  width: 500px; 
  height: 100px; 
  font-size: 40px; 
}
.p {
  font-size: 2.5em; 
  &.playfulpalette, &.molex {
    font-size: 2.5em; 
  }
}
h4 {
  font-size: 4em;
}
.content-container {
  &.footer {
    font-size: 2.5em; 
  }
  &.playful-palette {
    padding-top: 200px;
  }
}
#heart {
  width: 50px; 
}

.tags {
  font-size: 2.5em; 
}
.h3 {
  font-size: 3em; 
}

}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

#cartoon {
  width: 40%; 
  height: auto; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}




